/* Write the CSS for you answer here */
img {
    position: absolute;

}
img#background {
    top: 0;
    left: 0;
    z-index: 0;
}

img#tree {
    top: 113px; /* push the tree img down to the bottom of the bg img */
    width: 700px; /* Reduce the tree img's width to that of the bg img, this will then also limit the height accordingly */
    z-index: 2;
}

div#container {
    margin: auto;
    width: 700px;
    height: 541px;
    position: relative;
}
img.ball {
    z-index: 3;
}

#red {
    left: 42px;
    top: 341px;
}

#blue {
    left: 113px;
    top: 226px;
}

#green {
    left: 425px;
    top: 211px;
}

#orange {
    left: 604px;
    top: 281px;
}

#darkblue {
    left: 300px;
    top: 276px;
}

/* We'll (partly) obscure the pink bauble with the tree, by giving it
    a lower z-index than the tree but higher than the background.
    CSS styling on ids override the same properties styled for the class. */
#pink {
    z-index: 1;
    left: 400px;
    top: 330px;
}
